body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(6.gif);
    background-size:150%;

    background-repeat: no-repeat;
    
    background-position:-50vh;
    

}
.box{
    width: 300px;
    padding:30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgb(0, 0, 0, 0, 4);
    text-align:center;

}
.box h1{
    color: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"],.box input[type="Password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid darkcyan;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    transition: 0.25px;
    transition: 0.4s;
}

.box input[type="text"]:focus,.box input[type="Password"]:focus{
    width:270px;
    border-color:darkcyan;
    transition: 0.4s;
   
}
.box input[type="text"]:hover,.box input[type="Password"]:hover
{
    background-color:darkcyan;
    transition: 0.4s;

}





.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid darkcyan;
    padding: 14px 35px;
    outline: none;
    color: pink;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
    transition: 0.4s;
}
.box input[type="submit"]:hover
{
    background-color:darkcyan;
    transition: 0.4s;

}
.container{
    width: 360px; height: 70vh;
    border-radius: 25px;
    box-shadow: 0 0 15px pink;
    margin: 0 0 5px auto;
    position: center;
}